name: Generate Zips

on:
  push:
    branches: [main, completed]

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: completed

      - name: Fetch commit history
        run: |
          git fetch --unshallow
          git checkout completed

      - name: Generate zips
        run: |
          mkdir -p zips
          commits=($(git rev-list --reverse HEAD))
          count=1
          for i in "${commits[@]:1}"; do
            git checkout $i
            zip -r "zips/$count.zip" "eleventy-from-scratch"
            count=$((count + 1))
          done

      - name: Upload release artifacts
        run: gh release upload --clobber $RELEASE_ID zips/*.zip
        env:
          RELEASE_ID: completed-zips
          GH_TOKEN: ${{ github.token }}
